/* Place these styles in your Offers.css file */

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0; /* Adjust margins as needed */
}

.offers__slider {
  width: 1390px; /* Adjust width as needed */
  height: 300px; /* Set height to match button height */
  overflow: hidden;
  margin-bottom: 2rem; /* Add some space below the slider */
}

.offers__slider img {
  width: 100%; /* Ensures image fills the container horizontally */
  height: 100%; /* Ensures image fills the container vertically */
  object-fit: cover; /* Ensures image covers the entire area */
}

.offers__slider-button {
  position: absolute;
  top: inherit; /* Align buttons to top of the slider */
  transform: translateY(0); /* No need for vertical adjustment */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  font-size: 2rem; /* Adjust font size for larger buttons */
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5%; /* Round buttons */
  height: 300px;
}

.offers__slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darken background on hover */
}

.offers__slider-button--prev {
  left: 10px; /* Adjust left margin for spacing */
}

.offers__slider-button--next {
  right: 10px; /* Adjust right margin for spacing */
}

/*
products
*/
.product-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.product-category {
  width: 25%;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.product-category h2 {
  margin-bottom: 10px;
}

.product-category img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}


/* Place these styles in your Offers.css file */

.todays-deals {
  margin-top: 40px;
  padding: 20px 0;
  display: flex; /* Make the todays-deals section a flex container */
  flex-direction: column; /* Stack the heading and slider vertically */
}

.todays-deals-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.todays-deals-slider {
  display: flex;
  flex-wrap: nowrap; /* Ensure items don't wrap onto multiple lines */
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snapping to each image */
  /* Adjust scrollbar appearance as needed */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
}

.todays-deal-image {
  max-width: 224px;
  max-height: 184px;
  scroll-snap-align: start; /* Snap each image to the start of the viewport */
  margin-right: 20px; /* Add spacing between images */
}

.todays-deals-slider::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

.todays-deals-slider::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded corners for scrollbar thumb */
}
